<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmu">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:label="@string/title_activity_add_user"
            android:launchMode="singleTop"
            android:name=".activities.AddUserActivity"/>
        <activity
            android:label="@string/title_activity_add_album"
            android:launchMode="singleTop"
            android:name=".activities.AddAlbumActivity"
            android:parentActivityName=".activities.AlbumMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmu.activities.AlbumMenuActivity"/>
        </activity>
        <activity
            android:label="@string/title_activity_view_photo"
            android:name=".activities.ViewPhotoActivity"
            android:parentActivityName=".activities.ViewAlbumActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmu.activities.ViewAlbumActivity"/>
        </activity>
        <activity
            android:label="@string/title_activity_view_album"
            android:launchMode="singleTop"
            android:name=".activities.ViewAlbumActivity"
            android:parentActivityName=".activities.AlbumMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmu.activities.AlbumMenuActivity"/>
        </activity>
        <activity
            android:label="@string/title_activity_album_menu"
            android:launchMode="singleTop"
            android:name=".activities.AlbumMenuActivity"
            android:parentActivityName=".activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmu.activities.LoginActivity"/>
        </activity>
        <activity
            android:label="@string/title_activity_sign_up"
            android:name=".activities.SignUpActivity"
            android:parentActivityName=".activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmu.activities.LoginActivity"/>
        </activity>
        <activity
            android:label="@string/title_activity_login"
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmu.activities.MainActivity"/>
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:name="com.dropbox.core.android.AuthActivity">
            <intent-filter>

                <!-- Insert your app key after “db-  ...” -->
                <data android:scheme="db-4zsoe5fax200kn0"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>